@media only screen and (min-width: 1280px) {
    a:active img {
        filter: blur(5px);
        transition: filter 0.5s;
    }
    img {
        filter: grayscale(100%);
    }
    img:hover {
        filter: grayscale(0%);
        transition: filter 0.5s; 
    }
    span, div {
        font-size: x-large;
    }
}
body {
    box-sizing: border-box;
    background-color:rgb(77, 77, 77);
    width: 100vw;
    margin: 0;
    padding: 5% 20%;
    align-content: center;
}
@media only screen and (max-width: 1280px) {
    body {
        padding: 5% 5%;
    }
}
h1, span, a, div {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color:rgb(131, 131, 131);
    cursor: pointer;
}
.content:hover div {
    color:black;
    }
.memeContainer {
    display: flex;
    flex-flow: row wrap;
    height: 1.9rem;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid grey;
}
.meme {
    width: 100%;
    padding: 2%;
}
a:hover .memeContainer{
    height: 30em;
    transition: height 0.3s;
}
a:target .memeContainer{
    height: 30em;
    text-align: center;
    color: black;
}
.content:not(:hover) .plus, .cross {
    display: none;
}
a:hover .plus {
    display: none;
}
a:hover .cross {
    display: inline-flex;
}
a:target .plus {
    display: none;
}
a:target .cross {
    display: inline-flex;
}
a:active .memeContainer{
    color:rgb(131, 131, 131)
}
@media screen and (max-width: 480px) {
    span, a, div {
        font-size: large;}
        .memeContainer {
            height: 1.5em;}
        a:target .memeContainer{
            height: 25em;}
}
@media screen and (min-width: 481px) {
    span, a, div {
        font-size: x-large;}
    .memeContainer {
         height: 1.6em;}
    a:target .memeContainer{
         height: 30em;}
}