body {
    box-sizing: border-box;
    background-color:rgb(77, 77, 77);
    width: 100vw;
    margin: 0;
    padding: 5% 20%;
    align-content: center;
}
h1, label, span {
    font-family: 'Roboto', sans-serif;
}
label {
    display: inline-block;
    color:rgb(148, 148, 148);
    font-size: x-large;
    flex-grow: 10;
    padding: 10px 0;
}
span {
    font-size: x-large;
}
.content:hover label{
    color:black;
    }
.memeContainer{
    /*position: relative;*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid grey;
}
.cross, .plus {
    display: none;
}
.content:hover .plus{
    display: inline-flex;
}
.memeContainer:hover .plus{
    display: none;
}
.memeContainer:hover .cross{
    display: inline-flex;
}
.meme {
    display: none;
    width: 100%;
    text-align: center;
}
.memeContainer:hover .meme{
    display: block;
    }
/*.meme:not(:target){
    display:none;
    height:655px;
}
.meme:target{
    display:block;
    height: 655px;
}*/
input {
    appearance: none;
    /*width: 0px;
    position: absolute;*/
    display: flexbox;
    margin: 0;
}
input:checked ~ .meme{
    display: block;
}
input:checked label {
    color:black;
}