body {
    box-sizing: border-box;
    background-color:rgb(77, 77, 77);
    width: 100vw;
    margin: 0;
    padding: 5% 20%;
    align-content: center;
}
@media only screen and (max-width: 1100px) {
    body {
        padding: 5% 5%;
    }
}
h1, span, a, div {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color:rgb(131, 131, 131);
}
span, div {
    font-size: x-large;
}
.content:hover div {
    color:black;
    }
.memeContainer {
    display: flex;
    flex-flow: row wrap;
    height: 1.8rem;
    text-align: center;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid grey;
}
.meme {
    width: 100%;
}
a:hover .memeContainer{
    height: auto;
    transition: all 0.3s ease;
}
a:target .memeContainer{
    height: auto;
    text-align: center;
    color: black;
}
.content:not(:hover) .plus, .cross {
    display: none;
}
a:hover .plus {
    display: none;
}
a:hover .cross {
    display: inline-flex;
}
a:target .plus {
    display: none;
}
a:target .cross {
    display: inline-flex;
}
a:active .memeContainer{
    color:rgb(131, 131, 131)
}